################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/procedures/__pycache__
/QtSigman/__pycache__
/sigman/__pycache__
